.message {
    width: fit-content;
    padding: 10px;
    margin: 10px
}

.messageUser {
    margin-left: auto;
    text-align: left !important;
    color: white;

}

.messageUserCard {
    background-color: #FEE715FF !important;
    color: black !important;
}

.messageGuestCard {
    background-color: #6E6E6DFF !important;
    color: white !important;

}