.App {
  text-align: center;
}

body {
  background-color: rgb(78, 4, 78) !important;
  color: white !important;
}

input {
  color: white !important;
}

.inp {
  color: white !important;
}

/* .butt {
  color: white !important;
} */