* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  background-color: rgb(78, 4, 78) !important;
  color: white !important;
}

.symb {
  margin: 10px;
  height: 70px;
  width: 100px;
  border-radius: 50%;
  filter: hue-rotate(90deg) drop-shadow(8px 8px 10px gray);
  border: white groove 10px;
}

.frm {
  width: 98.2%;
  position: fixed;
  bottom: 0;
  padding: 20px;
  z-index: 1;
  background-color: #222;
  border-radius: 7px;
  margin: 10px;
}

.frmCtrl {
  display: flex !important;
  flex-direction: row !important;
}

.inp {
  color: white !important;
  flex: 1;
}

.butt {
  flex: 0;
}

/* On smaller screens, decrease text size */
@media (max-width: 440px) {
  .frm {
    margin: 10px;
    width: 91%;
  }
}

@media (max-width: 768px) {
  .frm {
    margin: 10px;
    width: 95%;
  }
}
